* {
  font-family: "Monaspace Neon NF", "Symbols Nerd Font";
  font-size: 25px;
  font-weight: 500;
  color: #ADB0BB;
  background-color: #16181D;
  padding: 0;
  margin: 0;
  border-radius: 0;
}

/* --------------------------------------------------------------------------
 * Palette
 * -------------------------------------------------------------------------- */

#bar {
  background-color: #111317;
  color: #ADB0BB;
  padding: 0;
  margin: 0;
}

#bar.sel {
  background-color: #111317;
}

/* --------------------------------------------------------------------------
 * Workspaces
 * -------------------------------------------------------------------------- */

#tags {
  background-color: transparent;
  color: #696C76;
  padding: 0;
  margin: 0;
}

#tags.active {
  background-color: #50A4E9;
  color: #111317;
  font-weight: bold;
}

#tags.occupied {
  background-color: transparent;
  color: #ADB0BB;
}

#tags.empty {
  background-color: transparent;
  color: #494D56;
}

#tags.urgent {
  background-color: #CC83E3;
  color: #111317;
  font-weight: bold;
}

/* --------------------------------------------------------------------------
 * Window title
 * -------------------------------------------------------------------------- */

#title {
  background-color: #16181D;
  color: #9B9FA9;
  padding: 0px 12px;
  margin: 0;
}

/* --------------------------------------------------------------------------
 * Right-side modules
 * -------------------------------------------------------------------------- */

#clock,
#volume,
#battery,
#custom-power-profile,
#custom-memory,
#custom-power,
#tray {
  background-color: #16181D;
  color: #ADB0BB;
  padding: 0px 12px;
  margin: 0;
}

#clock {
  color: #CC83E3;
  padding: 0px 14px;
}

#volume.muted {
  color: #696C76;
}

#tray {
  padding: 0px 10px;
}
